#menu.hidden
	ul
		li
			a(href='/') Top
		li
			a(href='/') New
		li
			a(href='/') Ask
		li
			a(href='/') Show
		li
			a(href='/') Jobs	
		- if(true || loggedIn)	
			li
				a(href='/') Account
		- else
			li
				a(href='/') Sign Up		
			li
				a(href='/') Log In